bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json


node_modules
dist

# Local python packages
.python_packages/

# Python Environments
.env
.venv
env/
venv/
ENV/
VENV/
env.bak/
venv.bak/
*.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json

# VSCode
.vscode/

# Azure Function local settings
local.settings.json

# OS-specific
.DS_Store
Thumbs.db